
#playerName{
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-family: "Walter Turncoat";
}
.text-area {
    -fx-background-color: rgba(0,0,0,0.5);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

#text-area   {
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
#stack
{
    -fx-background-image: url(/images/back.jpg);
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
   -fx-background-position: center center;
    -fx-font-family: "Walter Turncoat";
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-font-size: 30px;
    -fx-line-height:42px;
    -fx-display: flex;
    -fx-align-items: flex-end;
    -fx-text-transform: capitalize;   
}
#scoreLabel{
    -fx-font-family: "Digital Numbers";
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-font-size: 30px;
    -fx-line-height: 5px;
    -fx-display: flex;
    -fx-align-items: flex-end;
    -fx-text-transform: capitalize;
     -fx-text-fill:white;
}    
#Challenge{
    -fx-background-color: linear-gradient(to left, rgba(255, 255, 255, 0.4018) -3.46%, rgba(255, 211, 105, 0.82) 19.17%, rgba(153, 192, 86, 0.82) 45.04%, rgba(153, 192, 86, 0.82) 78.45%, rgba(255, 255, 255, 0.4838) 100%);
    -fx-border-radius: 22px;
    -fx-alignment: BASELINE_CENTER;
    -fx-background-radius: 22px;
    -fx-font-size: 20px;
    -fx-text-fill:#FFFFFF
}
#Challenge:selected {
    -fx-background-color:
        -fx-focus-color,
        linear-gradient(to bottom, derive(-fx-color,-22%) 0%, derive(-fx-color,-15%) 100%),
        linear-gradient(to bottom, derive(-fx-color,-15%) 0%, derive(-fx-color,-10%) 50%, derive(-fx-color,-8%) 98%, derive(-fx-color,-12%) 100%);
    -fx-border-size: 10px;
    -fx-border-color: #000000;
    -fx-text-fill: #000000;
}
#toggleButton:focused{
    -fx-background-color: linear-gradient(to left, rgba(255, 255, 255, 0.4018) -3.46%, rgba(255, 211, 105, 0.82) 19.17%, rgba(153, 192, 86, 0.82) 45.04%, rgba(153, 192, 86, 0.82) 78.45%, rgba(255, 255, 255, 0.4838) 100%);
    -fx-border-radius: 22px;
    -fx-alignment: BASELINE_CENTER;
    -fx-background-radius: 22px;
    -fx-font-size: 40px ;
    -fx-height:25px;
    -fx-text-fill:#FFFFFF
}
#toggleButton:selected {
    -fx-background-color:
        -fx-focus-color,
        linear-gradient(to bottom, derive(-fx-color,-22%) 0%, derive(-fx-color,-15%) 100%),
        linear-gradient(to bottom, derive(-fx-color,-15%) 0%, derive(-fx-color,-10%) 50%, derive(-fx-color,-8%) 98%, derive(-fx-color,-12%) 100%);
    -fx-border-size: 10px;
    -fx-border-color: #000000;
    -fx-text-fill:#000000;
    -fx-text:"off";
}
#scrolPane{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-alignment: BASELINE_CENTER;
    -fx-min-width:400px;
}
#scrolPane > .viewport{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}



    
    


